.page-header {
    border-bottom: 1px solid #ececec;
  }
  .page-header li {
    list-style-type: none;
  }
  .header-adress {
    color: #757575;
  }
  .header-adress > a:last-child {
    margin-left: 50px;
  }
  .header-adress li :hover,
.header-adress li:focus {
  fill: #2196f3;
  color: #2196f3;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-adress ul {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #757575;
  }
  .header-adress li {
    column-gap: 30px;
    padding-left: 10px;
    fill: #757575;
  }
  .header-adress a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(117, 117, 117, 1);
  }
  .clients-item {
    margin-left: 30px;
  }
  .clients-item-svg {
    margin-right: 10px;
  }
  .header-adress {
    justify-content: right;
    display: flex;
    align-items: center;
    color: #757575;
  }
  .navi-link:hover::after {
    content: "";
    align-items: center;
    display: inline-block;
    border-radius: 4px;
    width: 100%;
    margin-top: 45px;
    position: absolute;
    left: 0%;
    border-bottom: solid 4px #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-navigation {
    display: block;
    justify-content: center;
  }
  .navi {
    list-style: none;
    display: flex;
    margin-right: 150px;
  }
  .item {
    position: relative;
  }
  header-contact-link {
    display: flex;
    align-items: center;
  }
  .active::after {
    content: "";
    display: inline-block;
    width: 100%;
    left: 0;
    margin-top: 45px;
    position: absolute;
    border-bottom: solid 4px #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active {
    color: #2196f3;
  }
  .navi-link:hover,
.navi-link:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}
.navi > .item:not(:last-child) {
  margin-right: 46px;
}
